@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}

:root {
    --color-theme: #FFCE30;
    --color-active: #288BA8;
    --color-back-active: #746AB0;
    --color-back-inactive: #c4c6c9;
    --color-titulos: #E83845;
    --color-texto-blanco: #FFF;
    --color-gradient: linear-gradient( to right, var(--color-theme), var(--color-back-active));
}

body {
    height: 100%;
    width: 100%;
    background: #e2e3e6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
a {
    user-select: none;
    -webkit-user-select: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url('../../img/FondoCine6.webp');
    border-radius: 0 0% 20px 20px;
    border-bottom: 2px solid var(--color-active);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li {
    flex: 0 0 auto;
}

nav li a {
    margin-right: 1px;
    display: block;
    padding: 16px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-texto-blanco);
    background-color: var(--color-back-inactive);
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: #000000 0px 0px 1px, #000000 0px 0px 2px, #000000 0px 0px 3px;
}

nav li.current-page a {
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
}

main {
    margin-top: 120px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc(100% - 120px);
    width: 100%;
}

h1 {
    text-align: center;
    margin: 0;
    color: var(--color-theme);
}

h1>img {
    width: 70px;
    vertical-align: middle;
    padding: 10px;
}

h2 {
    color: var(--color-titulos);
    margin: 16px 0;
    text-align: center;
}

h3 {
    color: var(--color-theme);
    margin: 8px 0;
}

main section {
    display: flex;
    justify-content: space-around;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: var(--color-active);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    font-size: small;
    color: var(--color-theme);
}

main p {
    margin-bottom: 16px;
}

@media (min-width: 400px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.loader {
    width: 60px;
    height: 60px;
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top: 2px solid #8900FF;
    border-right: 2px solid transparent;
    animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
    to {
        transform: rotate(360deg);
    }
}

.loader-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.display {
    display: none;
}

.msg {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.amarillo {
    background-color: #ffc107;
}

.rojo {
    background-color: #dc3545;
}

.verde {
    background-color: #28a745;
}

#form-movie-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button-favorite {
    font-size: 12px;
    width: 150px;
    height: 40px;
    background: #3dea65;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #446d3b;
}

.button-favorite:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}

.button-favorite:active {
    transition: 0.2s;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px;
    background: #0c3e00;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.contenedorPeliculas {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.contenedorPeliculas .contenedorPelicula {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

.contenedorPeliculas .contenedorPelicula img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.contenedorPeliculas .contenedorPelicula h3 {
    margin-top: 10px;
    font-size: 15px;
}

.contenedorPeliculas .contenedorPelicula p {
    margin: 5px 0;
    font-size: 10px;
}

.paginacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.paginacion button {
    margin: 0px 20px 0 20px;
}

input {
    height: 40px;
    width: 300px;
}

.form-cine_contacto {
    justify-content: center;
    align-items: center;
}

.message {
    padding: 10px;
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}